[user]
  name = Willian Antunes
  email = willian.lima.antunes@gmail.com

[github]
  user = willianantunes

[credential]
  # Cache the password for http-auth
  helper = cache

[core]
  excludesfile = ~/.gitignore_global
  autocrlf = input